.design
  padding-top: 90px

  &__content
    @include _1200
      display: flex
      justify-content: center

  &__title
    text-align: center
    margin-bottom: 8px

    @include _575
      font-size: 30px

  &__items
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 27px 37px

    @include _1200
      grid-template-columns: 340px 340px
      
    @include _767
      grid-template-columns: 360px 

    @include _575
      grid-template-columns: 250px 

  &__item
    &:hover
      box-shadow: none

  &__link
    text-decoration: none