.furniture
  padding-top: 135px

  &__items
    display: flex
    justify-content: space-between

    @include _1200
      display: block

  &__item
    display: flex
    justify-content: space-between
    max-width: 870px
    width: 100%

    &:not(:last-child)
      margin-right: 20px
      
      @include _1200
        margin-right: auto
        margin-bottom: 40px
    
    @include _1200
      margin: 0 auto
      display: flex
      justify-content: center  