.articles
  padding-top: 100px

  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px

    @include _575
      display: block

  &__title
    @include _575
      margin-bottom: 20px
      font-size: 30px
      line-height: 1.2

  &__top-link
    padding-right: 28px
    margin-top: 12px
    text-decoration: none
    color: #262626
    border-bottom: 1px solid transparent
    position: relative
    transition: border-color .2s
    @extend %effects

    &::before
      content: ''
      position: absolute
      background-image: url('../img/icons/articles-arrow.svg')
      background-repeat: no-repeat
      width: 12px
      height: 12px
      margin: auto 0
      top: 0
      bottom: 0
      right: 0

      @include _767
        margin: 0
        top: 9px

    &:hover
      border-color: #262626

    &:active
      color: $active

    @include _575
      font-size: 18px

    @include _767
      min-height: 45px

  &__items
    @include _1200
      display: flex
      justify-content: center

    @include _991
      background-color: #fef7f0
      padding-top: 20px

  &__list
    display: grid
    grid-template-columns: 1fr 1fr 1fr 
    grid-gap: 0 30px

    @include _1200
      grid-template-columns: 370px  370px

    @include _1550
      grid-gap: 0 25px

    @include _991
      grid-template-columns: 370px

    @include _575
      margin: 0 10px
      grid-template-columns: 1fr