.partners
  background-color: #fef7f0       

  .slick-slide
    text-align: center
    max-width: 250px
    margin-right: 21px

    @include _991
      width: 100px

    @include _767
      width: 80px

    @include _575
      max-width: 600px
      margin: auto

  .slick-track
    display: flex
    align-items: center

  &__item
    margin: 69px auto 69px

  &__item-small
    margin: auto
    
  &__img
    margin: 0 auto
    max-width: 200px
    max-height: 100px

    @include _991
      width: 100px

    @include _767
      width: 80px
      max-height: 80px

    @include _575
      transform: scale(1.5)    

.partners-transfrom
  &--active
    margin-top: -750px