.card
    &__items
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-gap: 40px 37px

    &__item
      overflow: hidden
      position: relative
      min-height: 380px
      border-radius: 10px
      background-color: rgb(255, 255, 255)
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05)
      transition: box-shadow .5s
      &:hover
        box-shadow: 0px 0px 0px 5px rgba(37, 37, 37, 0.2)
      &:hover .round-btn
        opacity: 1
        transform: translateX(0%)
        transform: scale(1)

    &__inner
      position: absolute
      left: 0
      right: 0
      bottom: 30px
      text-align: center

    &__search-svg,
    &__heart-svg,
    &__cart-svg
      width: 20px
      height: 20px
      fill: #a3bbc8

    &__cart,
    &__search,
    &__heart
      position: absolute
      bottom: 120px
      width: 45px
      z-index: 10
      height: 45px
      transform: scale(0)
      opacity: 0
      transition: transform .3s, opacity .6s, background-color .4s
  
    &__cart
      background-color: rgb(255, 255, 255)
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      right: 0
      left: 0
      margin: 0 auto

      path
        fill: #a3bbc8

    &__search
      left: 49px
      background-color: rgb(255, 255, 255)
      transform: translateX(-250%)
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

      svg
        position: absolute
        right: 0
        left: 0
        top: 0
        bottom: 0
        margin: auto

    &__heart
      right: 49px
      background-color: rgb(255, 255, 255)
      transform: translateX(100px)
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &__img
      display: inline-block
      max-height: 200px

    &__title
      @extend %dmsans-500
      -webkit-line-clamp: 1
      @extend %line-clamp
      font-size: 16px
      font-weight: 600
      line-height: 2.5
      color: #243f4d
      padding-top: 50px

    &__price
      color: #a3bbc8
      -webkit-line-clamp: 1
      @extend %line-clamp

    @media(max-width: 1200px)

      &__content
        display: flex
        justify-content: center

      &__items
        grid-template-columns: 250px 250px

    @media(max-width: 991px)

      &__search
        left: 25px

      &__heart
        right: 25px

      &__search,
      &__cart,
      &__heart
        opacity: 1
        bottom: 80px

    @media(max-width: 575px)

      &__filter-item
        padding: 10px

      &__items
        grid-template-columns: 250px 

      &__item:hover
        box-shadow: none