%line-clamp
  display: -webkit-box
  -webkit-box-orient: vertical
  overflow: hidden
  
body
  font-size: 16px
  line-height: 1.9
  background-color: #fff
  color: #1a1a1a
  @extend %dmsans-700

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 15px

.container-big
  max-width: 1800px
  margin: 0 auto
  padding: 0 15px

.title
  @extend %dmsans-700
  font-size: 36px
  color: #191919

.btn
  display: block
  text-decoration: none
  border: none
  @extend %rubik-500
  color: #fff
  cursor: pointer
  border-radius: 0px
  position: relative
  outline: transparent
  transition: border-color .4s, background-color .4s
  &:focus
    background-color: $focus !important
  &:hover
    background-color: $btn-dark !important
  &:active
    background-color: $active !important

.round-btn
  border-radius: 50%
  border: none
  width: 50px
  height: 50px
  outline: transparent
  cursor: pointer
  transition: background-color .4s, transform .4s, opacity .6s
  font-size: 0

  svg
    transition: fill .4s

  &:focus
    background-color: $focus !important
  &:hover
    background-color: #a3bbc8 !important
    svg
      fill: #fff !important
  &:active
    background-color: $active !important

.mix
  &__top
    padding: 65px 0 50px 0

  &__title
    margin-bottom: 10px
    text-align: center

  &__btn
    border: none
    background-color: transparent
    color: #8b8b8b
    transition: color .3s
    outline: transparent
    &:focus
      color: $focus
    &:hover
      color: #1a1a1a
    &:active
      color: $active

  &__filter
    text-align: center
    margin-bottom: 76px !important

  &__item
    display: inline-block
    &:not(:last-child)
      margin-right: 10px

.mixitup-control-active
  color: #1a1a1a