body
  font-size: 16px
  line-height: 1.9
  background-color: #fff
  color: #1a1a1a
  @extend %dmsans-700
  
.sr-only 
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
  border: 0

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 15px
  &--big
    max-width: 1800px

.title
  font-weight: 700
  font-size: 36px
  color: #191919

.logo__img
  max-height: 50px
  width: 149px
  object-fit: contain

.btn
  display: inline-block
  text-decoration: none
  border: none
  @extend %rubik-500
  color: #fff
  background-color: #a3bbc8
  min-width: 200px
  padding: 15px 0 15px 27px
  border-radius: 0px
  position: relative
  transition: border-color .4s, background-color .4s
  @extend %effects

  &:hover
    background-color: $btn-dark 

  &:active
    background-color: $active

.round-btn
  border-radius: 50%
  border: none
  width: 50px
  height: 50px
  background-color: #edf1f4
  display: flex
  align-items: center 
  justify-content: center
  transition: background-color .4s
  @extend %effects

  svg
    fill: #26414f
    width: 20px
    height: 20px
    transition: fill .4s
    
  &:hover
    background-color: #a3bbc8 

    svg
      fill: #fff 

  &:active
    background-color: $active 

.mixer
  text-align: center
  margin-bottom: 76px
  white-space: nowrap
  overflow: auto
  
  &__btn
    border: none
    background-color: transparent
    color: #8b8b8b
    @extend %effects-color
    
    &:hover
      color: #1a1a1a

    &:active
      color: $active

  &__item
    display: inline-block

    @include _575
      padding: 10px

    @include _767
      button
        min-height: 45px

    &:not(:last-child)
      margin-right: 10px

  .mixitup-control-active
    color: #1a1a1a

.pagination
  display: flex
  justify-content: center
  margin-top: 110px

  &--start
    margin-top: 75px
    justify-content: flex-start

    @include _1200
      justify-content: center

  &__list
    display: flex

  &__item
    width: 51px
    height: 51px
    border: 1px solid #a3bbc8
    margin-right: 15px

    &--active
      background-color: #a3bbc8

      .pagination__link
        color: #fff

    &--next
      width: 74px

  &__link
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    @extend %rubik-400
    color: $dark

  &__next
    width: 50px
    height: 50px
    border: 1px solid #000