$default: #fcd7b6
$focus: #b42b2b
$footer-word: #7b7b7b
$btn-dark: #6c7c85
$active: #b69b83
$dark: #243f4d

%line-clamp
  display: -webkit-box
  -webkit-box-orient: vertical
  overflow: hidden

%checkbox-hidden
  width: 1px
  height: 1px
  overflow: hidden
  clip: rect(0 0 0 0)
  position: absolute

%effects
  outline: transparent
  &:focus
    background-color: $focus 

%effects-color
  outline: transparent
  transition: border-color .3s, color .3s
  &:focus
    color: $focus
  
%dmsans-700
  font-family: 'DMSans'
  font-weight: 700

%dmsans-500
  font-family: 'DMSans'
  font-weight: 500

%dmsans-400
  font-family: 'DMSans'
  font-weight: 400

%rubik-700
  font-family: 'Rubik'
  font-weight: 700

%rubik-500
  font-family: 'Rubik'
  font-weight: 500

%rubik-400
  font-family: 'Rubik'
  font-weight: 400

%Poppins-600
  font-family: 'Poppins'
  font-weight: 600

@mixin _1550
  @media (max-width: 1550px)
    @content

@mixin _1200
  @media (max-width: 1200px)
    @content

@mixin _991
  @media (max-width: 991px)
    @content

@mixin min_991
  @media (min-width: 991px)
    @content

@mixin _767
  @media (max-width: 767px)
    @content

@mixin _575
  @media (max-width:  575px)
    @content

@mixin h_700
  @media (max-height:  700px)
    @content