$default: #fcd7b6
$focus: #fc3e3e7c
$footer-word: #7b7b7b
$btn-dark: #6c7c85
$active: #b69b83
  
  
%dmsans-700
  font-family: 'DMSans'
  font-weight: 700

%dmsans-500
  font-family: 'DMSans'
  font-weight: 500

%dmsans-400
  font-family: 'DMSans'
  font-weight: 400

%rubik-700
  font-family: 'Rubik'
  font-weight: 700

%rubik-500
  font-family: 'Rubik'
  font-weight: 500

%rubik-400
  font-family: 'Rubik'
  font-weight: 400

%Poppins-SemiBold-600
  font-family: 'Poppins-SemiBold'
  font-weight: 600