@import fonts
@import vars
@import reset
@import libs
@import global

@import components/header
@import components/top
@import components/card-products
@import components/card-furniture
@import components/card-collection
@import components/card-article
@import components/partners
@import components/footer

@import index/main-slider
@import index/features
@import index/furniture
@import index/design
@import index/articles
@import index/products
@import index/video

@import about/experience    
@import about/info         
@import about/team 

.filter
  .filter-title
    display: inline-block
    text-transform: uppercase
    color: $dark
    font-size: 18px
    margin-bottom: 18px
    position: relative
    
    &::before
      content: ''
      position: absolute
      width: 38px
      height: 3px
      background-color: #a3bbc8
      top: 0
      bottom: 0
      right: -55px
      margin: auto 0

.shop
  padding: 115px 0

  &__wrapper
    display: grid
    grid-template-columns: 300px 1fr

    @include _1200
      display: block

  &__filter
    display: flex
    align-items: center
    margin-bottom: 30px

    @include _1200
      display: flex
      justify-content: center
    
  &__filter-btn
    &:not(:last-child)
      margin-right: 15px

    &--active
      background-color: $btn-dark
      svg
        fill: #fff

  &__filter-text
    margin-right: 40px
    color: #b3b3b3
    font-size: 18px

  &__items
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 40px 30px
    
    @include _991
      grid-template-columns: minmax(240px, 270px) minmax(240px, 270px)
      justify-content: center

    @include _575
      grid-template-columns: 270px
      justify-content: center
      

    &.shop__items--list
      display: block

      .shop__item
        &:not(:nth-child(4n+4))
          margin-bottom: 42px

        &:nth-child(1n+5)
          display: none

  &__content
    transition: transform .7s

    &--active
      transform: translateY(-750px)
   
  .card-products
    &__img-box
      text-align: center

.filter
  margin-bottom: 50px
  position: relative

  @include _1200
    display: grid
    grid-template-columns: 290px 290px 
    grid-gap: 0 45px
    justify-content: center

  @include _991
    grid-template-columns: 290px

  &__btn
    display: none
    position: absolute
    border: none
    background-color: transparent
    outline: transparent
    width: 70px
    height: 70px
    right: 0
    left: 0
    margin: 0 auto
    top: -80px

    @include _991
      display: block

  &__btn-menu
    width: 55px
    border: none
    height: 5px
    background-color: #a3bbc8
    right: -55px
    border-radius: 10px
    bottom: 0
    left: 0
    top: 0
    right: 0
    margin: auto
    position: absolute
    transition: transform .7s
    
    &::before
      content: ''
      position: absolute
      transform: translateY(-13px) rotate(-50deg)
      width: 55px
      height: 5px
      border-radius: 10px
      background-color: #a3bbc8
      left: 0
      right: 0
      bottom: -13px
      transition: transform .7s

    &::after
      content: ''
      position: absolute
      transform: translateY(13px) rotate(50deg)
      width: 55px
      height: 5px
      border-radius: 10px
      background-color: #a3bbc8
      left: 0
      right: 0
      top: -13px
      transition: transform .7s

    &--active
      transform: rotate(360deg)
      &::before
        transform: translateY(0) rotate(0)
      &:after
        transform: translateY(0) rotate(0)

.filter-category 
  &__input
    @extend %checkbox-hidden
    &:checked + .filter-category__category
      background-color: #edf1f4

  &__category
    display: inline-block
    max-width: 270px
    width: 100%
    border-radius: 4px
    position: relative

    &::before
      content: ''
      position: absolute
      background-image: url('../img/icons/filter-arrow.svg')
      background-repeat: no-repeat
      width: 6px
      height: 10px
      top: 0
      bottom: 0
      right: 22px
      margin: auto 0

  &__text
    padding-left: 15px
    @extend %rubik-400
    color: #000
    line-height: 2.7
     
.filter-category
  margin-bottom: 50px
  position: relative 
  transition: transform .7s

  &--active
    transform: scale(0)
   
.filter-price
  margin-bottom: 61px
  transition: transform .7s

  &--active
    transform: scale(0)

  @include _1200
    margin: auto 0

  &__form
    max-width: 270px

  &__title
    margin-bottom: 30px

  &__label
    display: flex
    justify-content: space-between
    margin-top: 9px

  &__num
    @extend %rubik-400
    color: $dark
    font-size: 14px
    line-height: 3.1

    &:last-child
      margin-right: 5px

.irs--flat 
  height: 10px

.irs--flat .irs-line 
  top: 0px
  height: 3px
  background-color: #c2d2db
  border-radius: 0
 
.irs--flat .irs-handle>i:first-child 
  display: none

.irs--flat .irs-bar 
  top: -1px
  height: 5px
  background-color: #a3bbc8

.irs-from, .irs-to, .irs-single
  display: none

.irs-max, .irs-min
  display: none

.irs--flat .irs-handle 
  top: -6px
  width: 15px
  height: 15px
  background-color: #a3bbc8

.filter-brand
  margin-bottom: 43px
  position: relative
  transition: transform .7s

  &--active
    transform: scale(0)

  &__input
    @extend %checkbox-hidden
    &:checked + .filter-brand__category span:last-child
      color: $dark
    &:checked + .filter-brand__category
      background-color: #edf1f4

  &__category
    display: inline-flex
    align-items: center
    justify-content: space-between
    max-height: 43px
    max-width: 270px
    width: 100%
    border-radius: 4px
    position: relative  

  &__text
    
    padding-left: 15px
    @extend %rubik-400
    color: #000
    line-height: 2.7

  &__num
    @extend %rubik-400
    margin-right: 24px
    color: #b3b3b3

.recent
  transition: transform .7s

  &--active
    transform: translateY(-750px)

  &__title
    margin-bottom: 30px

  &__item
    max-width: 210px

    &:not(:last-child)
      margin-bottom: 15px    

  &__label
    display: flex

  &__link
    text-decoration: none
    color: #333333

  &__wrapper
    width: 69px
    height: 69px
    display: inline-block
    border: 2px solid #f2f2f2

  &__img
    margin: 0 auto

  &__content
    margin-left: 20px
    
  &__star
    padding: 0